<!doctype html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>demo</title>
</head>
<body>
  <h1>Hello friends your ordered items are  </h1>


 {% for items in cart_items %}


 <h1> {{items.name}} &  price is : {{items.price}} <br> </h1>





 {%endfor%}
 <h1>for final confirmation please fill the ordered items and following details </h1>
 <form method ="post">
<h1>   {{form.as_p}} </h1>
   {% csrf_token %}
<input type="submit" name="" value="click to order ">
 </form>




</body>
</html>
