<!doctype html>
<html lang="en-us">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{%static "css/aboutus.css"%}">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>demo </title>
</head>
<body>
  <h1>Hope you all are fine...</h1>
  <div class="about-section">
  <h1>contact us </h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">

      <div class="container">
        <h2>jai narayan </h2>
        <h2>9813381220</h2>
        <p class="title"> owner </p>
        <p>Retired principal<p>
        <p>jainarayan@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>yash bansal </h2>
        <h2>8814946779</h2>
        <p class="title">manager</p>
        <p> btech cse </p>
        <p>yash bansal @example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">

      </div>
    </div>
  </div>
</div>
<img src="C:\Users\YASH\Downloads\hash. (1).jpg">

</body>
</html>
