body{
  background-image: url('https://media.istockphoto.com/id/1450178343/photo/white-sticky-note-with-thank-you-and-red-push-pin-on-blue-cardboard.jpg?b=1&s=170667a&w=0&k=20&c=6GW5UFyJMIDenCSGXMgDRgZ6nfm591nU9CtosbUkVCY=');
  background-repeat: no-repeat;
  background-size: cover;
}
